.main_header {
  text-align: center;
  padding: 5px;
  color: #f2f2f6;
  font-size: xx-large;
  font-style: oblique;
  margin: 10px;
  border-bottom: 5px solid lightslategrey;
  font-weight: 700;
  background-color: rgba(190, 40, 40, 0.881);
}